<article class="profile">
   <div class="profile-content">
      <image class="profile-picture" src="{{profile-pic}}" />
      <p class="profile-name">
         <a href="trump.html">{{name}}</a>
      </p>
   </div>
</article>
